<!-- Home page of GiftZilla -->
{% extends 'layout.html' %}

{% block body %}
<div class="container my-5">
    <h3 class="mb-4">Welcome to GIFTZILLA - Your Hub for Group Wish List Distribution!</h3>

    <h5>How Does GIFTZILLA Work?</h5>
    <ul>
        <li>Create a GiftZilla accout!</li>
        <li>Check your email to verify your account!</li>
        <li>Join or create a new registry.</li>
        <li>Invite your friends and family to join your registry with your group pin.</li>
        <li>Let us handle the registry pairing magic!</li>
        <li>Enjoy!</li>
    </ul>

    {% if user.is_authenticated %}
    <h3 class="mt-4">Please read carefully for a smooth experience!</h3>
    <ul>
        <li class="mb-2">
            To create a new registry, click here:
            <a href="{% url 'user:createRegistry' %}" class="btn btn-primary">Create Registry</a>
        </li>
        <li class="mb-2">
            To join a registry group, click here:
            <a href="{% url 'user:regJoin' userID=user.id %}" class="btn btn-primary">Join Registry</a>
        </li>
        <li class="mb-2">
            To view registries you administer or have already joined, click here:
            <a href="{% url 'user:viewReg' userID=user.id %}" class="btn btn-primary">View Registries</a>
        </li>
    </ul>
    {% endif %}
</div>

{% endblock %}
