{% extends 'layout.html' %}

{% block body %}

{% if joinForm %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h5>Join A Registry:</h5>
            <p>Registry pins are case sensitive. Use the correct upper and lower case characters.</p>
            <form method="post">
                {% csrf_token %}
                {{ joinForm.as_p }}
                <button type="submit" class="btn btn-primary">Join Registry</button>
            </form>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <h5>Once you join a registry, you will be able to complete your wish list.</h5>
        </div>
    </div>
</div>
{% endif %}

{% if message %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>{{ message }}</h2>
            <p class="mt-4">Now that you have joined a registry, you can complete your wish list.</p>
            <p class="mt-4">Once you have completed your registry wish list you will be notified when your registry pairing is complete.</p>
            <a class="btn btn-primary" href="{% url 'user:viewReg' userID=user.id %}">View Registries</a>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
