{% extends 'layout.html' %}

{% block body %}

<div>
    <h1>{{ message }}</h1>
</div>
<div class="container">
    <h5>Welcome {{ user.first_name }} to your wish list!</h5>
    <ul>
        <li>Below you can copy and paste links to gifts you would like.</li>
        <li>You can also give a ranking to your top three gifts.</li>
        <li>Your registry admin has assigned a spending limit of ${{ groupReg.spendLimit }}. So please be mindful of that as you input your gifts.</li>
    </ul>
</div>


<div class="container">
    <h5>You're registering a wish list for group: {{ groupReg.regName }}</h5>
    <h5>Group ID: {{ groupReg.regPin }}</h5>
    <h5>Spending Limit: ${{ groupReg.spendLimit }}</h5>
    <h5>Group Admin: {{ groupReg.admin.first_name }} {{ groupReg.admin.last_name }}</h5>
    
    {% if success %}

    <a class="btn btn-primary" href="{% url 'user:viewWishList' groupPin=groupReg.regPin userID=user.id %}">Edit/View Wish List</a>

    {% else %}
    <form method="post">
        {% csrf_token %}
        <ul class="list-group">
            {% for form in giftForms %}
                <li class="list-group-item">
                    {{ form.as_p }}
                </li>
            {% endfor %}
        </ul>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}
</div>

{% endblock %}
