{% extends 'layout.html' %}

{% block body %}
<div class="container" style="padding: 10px;">
    <div class="row">
        <div class="col">
            <div>
                <h5>Registries You Admin:</h5>
                {% if adminRegs %}
                    {% for admin in adminRegs %}
                        <div class="border border-3 border-gray p-3 m-3">
                            <p class="fw-bold">Registry Name: {{ admin.regName }}</p>
                            <p>Registry Pin: {{ admin.regPin }}</p>
                            <p>Group admin: {{ admin.admin.first_name }} {{ admin.admin.last_name }}</p>
                            <p>Individual Wish/URL Limit: {{ admin.urlNumCap }}</p>
                            <p>Registry Group Limit: {{ admin.regGroupCap }}</p>
                            <p>Registry Notes: {{ admin.notes }}</p>
                            <a class="btn btn-primary" href="{% url 'user:adminReg' groupPin=admin.regPin %}">Edit Group Info</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>You currently have no created registries.</p>
                {% endif %}
            </div>
        </div>

        <div class="col">
            <div>
                <h5>Joined Registries:</h5>
                {% if joinedRegs %}
                    {% for join in joinedRegs %}
                        <div class="border border-3 border-gray p-3 m-3">
                            <p class="fw-bold">Registry Name: {{ join.registry.regName }}</p>
                            <p>Registry Pin: {{ join.groupPin }}</p>
                            <p>Registry Notes: {{ join.registry.notes }}</p>
                            <a class="btn btn-primary" href="{% url 'user:userGifts' groupPin=join.groupPin userID=join.user.id %}">Submit Your Wishlist</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>You currently have no joined registries.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
