<!-- Allows user to see their wish list for a registry, make edits to gifts,
and delete the registry from thier account. -->

{% extends 'layout.html' %}

{% block body %}
<div class="container" style="padding: 10px;">
    <a class="btn btn-primary" href="{% url 'user:viewReg' userID=user.id %}">Back To View Registries</a>
    <a class="btn btn-primary" href="{% url 'user:userRegDelete' userID=user.id groupPin=regDetail.regPin %}">Delete Registry</a>

</div>

<div class="container">
    <h4 class="mt-4">Wish list info for {{ regDetail.regName }} registry:</h4>
    <p>Registry Admin: {{ regDetail.admin.first_name }}  {{ regDetail.admin.last_name }}</p>
    <p>Registry Spending Limit: {{ regDetail.spendLimit }}</p>
    <p>Registry Notes: {{ regDetail.notes }}</p>
    <p>Person you have requested not to be paired with: {{ noPair.0.noGift.first_name }} {{ noPair.0.noGift.last_name }}</p>
</div>

<div class="container mt-4">
    {% for wish in regWishList %}
    <div class="border border-3 p-3 mb-4">
        <p>Wish URL: <a target="_blank" href="{{ wish.giftUrl }}">{{ wish.giftUrl }}</a></p>
        <p>Wish Ranking: {{ wish.giftRank }}</p>
        <button class="btn btn-primary"><a style="color: white;" href="{% url 'user:wishEdit' wishID=wish.id %}">Edit Wish</a></button>
    </div>
    {% endfor %}
</div>
{% endblock %}
